.disclaimer{
	background: black;
	color: white;
	font-weight: bold;
}
.disclaimer h2{
	color: red;
}
#sideEffect{
	-webkit-transform: translateY(-62%);
	-ms-transform: translateY(-62%);
	transform: translateY(-62%);
}
#callMeMaybe{
	-webkit-transform: translateY(-42%);
	-ms-transform: translateY(-42%);
	transform: translateY(-42%);
}
#communicationSystem{
	width: 70%;
}